.lds-grid[b-zrc1luil6a] {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 40%;
    margin-top: 20%;
}

    .lds-grid div[b-zrc1luil6a] {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: red;
        animation: lds-grid-b-zrc1luil6a 1.2s linear infinite;
    }

        .lds-grid div:nth-child(1)[b-zrc1luil6a] {
            top: 8px;
            left: 8px;
            animation-delay: 0s;
        }

        .lds-grid div:nth-child(2)[b-zrc1luil6a] {
            top: 8px;
            left: 32px;
            animation-delay: -0.4s;
        }

        .lds-grid div:nth-child(3)[b-zrc1luil6a] {
            top: 8px;
            left: 56px;
            animation-delay: -0.8s;
        }

        .lds-grid div:nth-child(4)[b-zrc1luil6a] {
            top: 32px;
            left: 8px;
            animation-delay: -0.4s;
        }

        .lds-grid div:nth-child(5)[b-zrc1luil6a] {
            top: 32px;
            left: 32px;
            animation-delay: -0.8s;
        }

        .lds-grid div:nth-child(6)[b-zrc1luil6a] {
            top: 32px;
            left: 56px;
            animation-delay: -1.2s;
        }

        .lds-grid div:nth-child(7)[b-zrc1luil6a] {
            top: 56px;
            left: 8px;
            animation-delay: -0.8s;
        }

        .lds-grid div:nth-child(8)[b-zrc1luil6a] {
            top: 56px;
            left: 32px;
            animation-delay: -1.2s;
        }

        .lds-grid div:nth-child(9)[b-zrc1luil6a] {
            top: 56px;
            left: 56px;
            animation-delay: -1.6s;
        }

@keyframes lds-grid-b-zrc1luil6a {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}
